// Media queries
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 990px)";
$media-mobile: "only screen and (max-width : 767px)";
$media-mobile-sm: "only screen and (max-width : 375px)";

// Colors
$yellow: #FBCC05;
$green: #68B766;
$lightblue: #C2E4F9;
$blue: #3C5DA7;
$violet: #CFA5CD;
$pink: #F5B7D4;
$red: #E14C17;
$gray: #D8D8D8;


// Spacing
$pad: clamp(12px, 2.5vw, 30px); 




// Fonts
$f: 'Eingrantch Mono', 'Andale Mono', Courier, monospace;
$falt: 'Dela Gothic One', 'Arial Black', Arial, sans-serif;

$medium: 400;
$sbold: 500;
$bold: 600;

// Font-sizes
$size-h1: clamp(50px, 4vw, 70px); 
$size-h2: clamp(25px, 2.4vw, 40px); 

$size-80: clamp(57px, 8vw, 80px); 
$size-65: clamp(45px, 6.5vw, 65px);
$size-55: clamp(35px, 5.5vw, 55px); 



